extends /layouts/base

block content
	main
		+page-title({ title })

		img(
			class="w-full min-h-[14rem] object-cover aspect-[3/1]",
			src="https://source.unsplash.com/random",
			alt="",
			decoding="async"
		)

		div(class="container max-w-4xl mt-16 space-y-6 text-xl")
			p container max-w-4xl mt-16 space-y-6 text-xl.
			p container max-w-4xl mt-16 space-y-6 text-xl.
			p container max-w-4xl mt-16 space-y-6 text-xl.
			p container max-w-4xl mt-16 space-y-6 text-xl.

		div(class="container my-24")
			div(class="border-t")

		div(class="container max-w-xl prose")
			p Paragraf text container max-w-xl prose.
			p Paragraf text container max-w-xl prose.
			p Paragraf text container max-w-xl prose.
			p Paragraf text container max-w-xl prose.
			figure
				img(
					src="https://source.unsplash.com/1600x900",
					width="1600",
					height="900",
					alt="",
					decoding="async"
				)
			p Fugure paragr...
